.container {
    border:0px solid red;
    background-color: white;
}

.row div {
    border:0px solid gray;
}

img {
    margin-right: 20px;
}

body {
    padding-top: 75px;
    background-color: lightblue;
    margin-bottom: 75px;
}
#navbar {
    color: black;
}

.navbar-fixed-top {
    background-color: gray;
    border-bottom: 5px solid black;
}

.navbar-fixed-bottom {
    display: flex;
    justify-content: center;
    background-color: gray;
    color: black;
    align-items: center;
    border-top: 5px solid black;
}

textarea.form-control {
  height: 200px;
}

.caption {
    justify-content: center;
    margin-top: -30px;
    color: black !important;
}

p {
    margin-left: 10px;
}

.panel-body {
    display: flex;
    justify-content: center;
    background-color: gray;
}

.btn {
    margin: 20px;
    background-color: lightblue;
    color: black;
}

.panel {
    margin-top: 20px;
}

.input-group {
    margin-left: 20px;
}

